:host {
  display: block;
}

::ng-deep {
  .p-dropdown {
    background: transparent;
    border: 1px solid var(--surface-border);
    border-radius: 0.5rem;
    
    .p-dropdown-label {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--text-color);
    }
  }
}
