/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";


body {
    margin: 0;
    padding: 0;
    background-color: var(--p-surface-50); /* Variable del tema Aura de PrimeNG */
    font-family: var(--p-font-family);
}

/* Fix for PrimeNG adding padding-right to body when opening overlays */
body.p-overflow-hidden {
    padding-right: 0 !important;
}

